h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Barlow Condensed", sans-serif;
  color: $white-normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  position: relative;
  padding: 8px 24px;
  font-size: 24px;

  display: inline-block;

  transition: 0.5s ease;

  &::after {
    width: 0%;
    height: 2px;
    content: "";
    display: block;

    position: absolute;
    top: 100%;
    left: 0;

    transform: translate(20%, -50%);
    transition: 0.5s ease;

    background: $white-normal;
  }

  &:hover {
    opacity: 0.8;

    &::after {
      width: 70%;
    }
  }
}

h1 {
  font-size: 96px;
  line-height: 100%;
}

h2 {
  font-size: 72px;
  line-height: 110%;
}

h3 {
  font-size: 40px;
  line-height: 110%;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 960px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 32px;
  line-height: 120%;
}

h5 {
  font-size: 24px;
  line-height: 130%;
}

h6 {
  font-size: 18px;
  line-height: 150%;
}

.mask {
  background: linear-gradient(225deg, #2dc7ed 0%, #538bf0 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.square {
  position: relative;
  display: inline-block;
  margin-top: 64px;
  font-size: 24px;
  padding: 16px 24px;

  &::after {
    width: 96px;
    height: 96px;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    content: "";
    display: block;

    transform: translate(0%, -15%) rotate(45deg);

    background: linear-gradient(225deg, #2dc7ed 0%, #538af044 100%);

    border-radius: 4px;
    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      transform: translate(0%, -15%) rotate(180deg);
    }
  }
}
